We'll pull from two APIs to get flood and weather data:

[Global Flood API](https://open-meteo.com/en/docs/flood-api)  

[Historical Weather API](https://open-meteo.com/en/docs/historical-weather-api)

Note that the flood API returns river volume for the closest river on [Glofas](https://www.globalfloods.eu/glofas-forecasting/)

Scripts have been written in `queryscripts.py` to help pull data from these APIs.

In [1]:
import queryscripts as qs
import pandas as pd

In [5]:
# example call to retrieve weather data from (52,13)
qs.get_openmeteo_data(52,13,'2023-06-24','2023-06-26','weather')

,date,latitude,longitude,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,precipitation_hours,windspeed_10m_max,et0_fao_evapotranspiration
0,2023-06-24,52,13,24.0,14.6,19.2,0.1,1.0,14.3,4.61
1,2023-06-25,52,13,25.5,16.3,21.8,0.3,3.0,6.9,3.88
2,2023-06-26,52,13,29.0,17.4,22.6,1.8,3.0,20.1,5.05

In [3]:
# example call to retrieve flood data from (52,13)
qs.get_openmeteo_data(52,13,'2023-06-24','2023-06-26','flood')

         date  latitude  longitude  river_discharge
0  2023-06-24        52         13             0.31
1  2023-06-25        52         13             0.31
2  2023-06-26        52         13             0.44

In [4]:
# example call to retrieve both as a joined dataset
test_df = qs.flood_and_weather_data(52,13,'2023-06-24','2023-06-26')
test_df

,date,latitude,longitude,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,precipitation_hours,windspeed_10m_max,et0_fao_evapotranspiration,river_discharge
0,2023-06-24,52,13,24.0,14.6,19.2,0.1,1.0,14.3,4.61,0.31
1,2023-06-25,52,13,25.5,16.3,21.8,0.3,3.0,6.9,3.88,0.31
2,2023-06-26,52,13,29.0,17.4,22.6,1.8,3.0,20.1,5.05,0.44

In [6]:
# download all data and save as csv

locations = {
  'Brisbane': [-27.5,153],
  'Townsville': [-19.659,147.412],
  'Rockhampton': [-23.37, 150.51]
}

dates = ['1990-01-01','2021-01-01']

combined_df = pd.DataFrame()

for location in locations:
  location_data = qs.flood_and_weather_data(*locations[location], *dates)
  location_data.insert(1,'location',str(location))
  combined_df = pd.concat([combined_df, location_data], ignore_index=True)
  print("Data retrieved for "+location)

combined_df.to_csv('Data/flooddata.csv', index=False)

combined_df

Data retrieved for Brisbane
Data retrieved for Townsville
Data retrieved for Rockhampton

,date,location,latitude,longitude,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,precipitation_hours,windspeed_10m_max,et0_fao_evapotranspiration,river_discharge
0,1990-01-01,Brisbane,-27.50,153.00,28.6,18.3,22.5,0.0,0.0,14.1,5.97,33.20
1,1990-01-02,Brisbane,-27.50,153.00,29.3,17.0,22.9,0.0,0.0,13.4,6.23,31.58
2,1990-01-03,Brisbane,-27.50,153.00,30.8,19.3,24.1,0.0,0.0,13.1,6.46,30.41
3,1990-01-04,Brisbane,-27.50,153.00,35.5,18.5,26.0,0.0,0.0,16.8,7.28,29.48
4,1990-01-05,Brisbane,-27.50,153.00,27.4,22.0,24.3,0.0,0.0,19.4,4.71,28.85
...,...,...,...,...,...,...,...,...,...,...,...,...
33967,2020-12-28,Rockhampton,-23.37,150.51,31.6,23.1,26.9,0.0,0.0,18.1,6.03,0.41
33968,2020-12-29,Rockhampton,-23.37,150.51,26.9,23.3,24.7,23.3,23.0,11.4,1.92,15.33
33969,2020-12-30,Rockhampton,-23.37,150.51,23.9,21.7,22.8,30.8,20.0,17.7,1.23,7.02
33970,2020-12-31,Rockhampton,-23.37,150.51,28.0,21.7,24.7,0.5,3.0,24.2,3.45,2.48
33971,2021-01-01,Rockhampton,-23.37,150.51,29.5,23.0,25.9,0.2,2.0,21.6,4.59,1.08